<app-nav></app-nav>

<main role="main" class="container">

    <div class="starter-template">
      <p class="lead">
      
        You will be reviewing a total of {{  numAssigned }} applicants.

      </p>
      <p class="lead">
        You have reviewed {{  numAssignedReviewed }} applications.
    </p>
      <p class="lead">
          Click the <b>Rating Tab</b> to start/continue reviewing applications.
      </p>
      <p class="lead">
        After you completed all the reviews, click the <b>Next Button</b>  to advance to the next step.
      </p>
      <p class="lead">
        <button mat-raised-button  color="primary" (click)="startTour()">Take a Tour</button>
      </p>
    </div>
</main>

  
 




