<!-- <app-nav></app-nav> -->
<!-- <iframe style="position: absolute; height: 100%; border: none" src="https://emorycollege.co1.qualtrics.com/jfe/form/SV_3xG5gWsHKhqnn8O"  width="100%" background-color="grey"></iframe> -->
<iframe style="position: absolute; height: 100%; border: none" src="https://emorycollege.co1.qualtrics.com/jfe/form/SV_6yd3QbL9zpwhFRQ"  width="100%" background-color="grey"></iframe>

<!-- https://emorycollege.co1.qualtrics.com/jfe/form/SV_6yd3QbL9zpwhFRQ -->
<!-- <main role="main" class="container" >

    <div class="starter-template">
      <h1>You've reviewed all the applications!</h1>
      <p class="lead">
        Please fill out the survey below to complete the study. Thanks!
      </p>
    </div>
</main>
<iframe style="position: absolute; height: 70%; border: none" src="https://emorycollege.co1.qualtrics.com/jfe/form/SV_3xG5gWsHKhqnn8O"  width="100%" background-color="grey"></iframe> -->


  
 





